<%= render "shared/partial" %>

<% if flash[:notice] %>
 <p class="notice"><%= flash[:notice] %></p>
<% end %>

<div class = "user-wrapper">
 <div class = "user-info">
 <h3>プロフィール</h3>

 <%= form_with model: @user do |f| %>

  <% if @user.icon_image.blank?%>
    <%= image_tag "no_image.jpeg", size: "60x60", class: "user-icon" %>
  <% else %>
    <%= image_tag @user.icon_image.url, size: "60x60", class: "user-icon" %>
  <% end %>

 <table>
  <tr>
   <th><%= f.label :username ,"名前", class: "profile-form-header" %></th>
   <td><%= f.text_field :username, class: "username-form-control", readonly: true, value: @user.username %></td>
  </tr>
  <tr>
   <th><%= f.label :profile ,"自己紹介", class: "profile-form-header" %></th>
   <td><%= f.text_area :profile, class: "profile-form-control", readonly: true, value: @user.profile %></td>
  </tr>
 </table>
 <%= f.hidden_field :id, value: @user.id %>
 <%= link_to "編集", [:edit, @user], class: "btn-edit" %>
 <% end %>
 </div>
</div>