<h3>予約内容確認</h3>

 <%= form_with model: @reservation do |f|%>
   <table><%#binding.pry%>
    <tr><div><%#= f.label :room_price, "宿泊費"%><br>¥<%#= @room.price %>/日</div></tr>
  <tr> 
   <th><%= f.label :check_in, "開始日"%></th>
   <td><%= f.date_field :check_in, disabled: true %></td>
  </tr>
  <tr> 
   <th><%= f.label :check_out, "終了日"%></th>
   <td><%= f.date_field :check_out, disabled: true %></td>
  </tr>
  <tr> 
   <th><%= f.label :person_num, "人数"%></th>
   <td><%= f.number_field :person_num, disabled: true %></td>
  </tr>
 </table>
 <%= f.hidden_field :id, value: @room.id %>
<div>
 <ul>
  <li><%= f.submit "予約を確定する" %></li>
  <li><%= f.submit "ルーム詳細に戻る" %></li>
 </ul>
</div>
 
 <% end %>