<!DOCTYPE html>
<html>
  <head>
    <title>ReservationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class = "wrapper">
    <header>
     <div class = "header-left">
      <a href="/"><img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" alt="ロゴ画像"></a>
     </div>
     
     <div class = search-box-field>
       <%= search_form_for @search, url: search_rooms_path do |f| %>
        <%= f.search_field :address_cont, class: "search-box", :placeholder => "エリア" %>
       <% end %>
       <%= search_form_for @search, url: search_rooms_path do |f| %>
        <%= f.search_field :name_or_introduction_or_address_cont, class: "search-box", :placeholder => "キーワード" %>
       <% end %>
     </div>

     <% if user_signed_in? %>
     <div class = "header-right">
      <div class = "username" ><%= current_user.username %></div>
       <div class = "nav-item">
        <% if current_user.icon_image.blank?%>
          <div class = "dropdown"><%= image_tag "no_image.jpeg", size: "57x57", class: "user-icon" %></div>
        <% else %> 
          <div class = "dropdown"><%= image_tag current_user.icon_image.url, size: "57x57", class: "user-icon" %></div>
        <% end %> 
         <ul class = "header-nav-menu">
          <li><%= link_to "ルーム登録", :new_room %></li>
          <li><%= link_to "予約済みルーム一覧", :reservations %></li>
          <li><%= link_to "登録済みルーム一覧", :rooms %></li>
          <li><%= link_to "設定", account_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: "delete" %></li> 
         </ul>
     <% else %>
         <ul>
          <li class = "sign_in" ><%= link_to "ログイン", :new_user_session, class: "btn" %></li>
          <li class = "sign_up" ><%= link_to "新規登録", :new_user_registration, class: "btn" %></li>
         </ul>
     <% end %>
      </div>
     </div>
     <script>
      $(document).ready(function() {
        $(".dropdown").click(function() {
          $(".header-nav-menu").slideToggle(100);
        });
      });
     </script>
    </header>

   
    <%= yield %>

    <footer>
     <p>©️2020 POTEPAN.INC.</p>
    </footer>
   </div>
  </body>
</html>
